body {
   margin: 0;
}


.container {
    height: 1000px;
    background-color: #D5E1EF;
    border: 20px solid #D5E1EF;
}

.bg {
    height: 410px;
    width: 270px;
    margin: 250px 500px 250px 500px;
    background-color: white;
    border: 20px solid white;
    border-radius: 20px;
}

img {
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.txt {
    height: 131px;
    width: 250px;
    margin-left: 12px;
    text-align: center;
}

h1 {
    color: #1F314F;
    font-size: 20px;
    font-weight: 900;
}

p {
    color: #68778D;
    font-size: 15px;
}

.attribution { 
    font-size: 10px; 
    text-align: center;
    margin-top: 50px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}