* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    min-height: 100vh;
    background-color: #D5E1EF;
    display: grid;
    place-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: white;
    border: 20px solid white;
    border-radius: 10px;
    max-height: 35rem;
    gap: 25px;
}
    

img {
    width: 100%;
    border-radius: 10px;
}

.txt {
    width: 100%;
    text-align: center;
}

h1 {
    color: #1F314F;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

p {
    color: #68778D;
    font-size: 1rem;
    margin: 0.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.attribution { 
    font-size: 0.6rem; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}